body {
    margin: 0;
    padding: 0;
    background: #050505 url("../img/img01.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5b5b5b;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url("../img/img05.jpg") repeat;
}

.container {
    width: 1000px;
}

/* Header */

#header-wrapper {
    overflow: hidden;
}

#header {
    width: 1000px;
    height: 150px;
    margin: auto;
}


#banner {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 340px;
    background: url("../img/img03.png") no-repeat left bottom;
}

/* Logo */

#logo {
    float: left;
    width: 300px;
}

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo a {
    text-decoration: none;
    color: #000000;
}

/* Menu */

#menu {
    float: right;
    width: 500px;
    height: 90px;
}

#menu ul {
    float: right;
    padding-top: 20px;
    list-style: none;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    line-height: 100px;
    margin-right: 1px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#menu a:hover,
#menu .current_page_item a {
    background: url("../img/img01.jpg") repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Page */

#page {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Content */

#content {
    float: right;
    width: 660px;
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding-top: 7px;
    letter-spacing: -1px;
}

.post .title a {
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding-top: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .entry {
    padding-bottom: 40px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more {
    margin-right: 10px;
}

.comments,
.more {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 270px;
    padding-top: 30px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li ul {
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
}

#sidebar li li a {
    padding-left: 20px;
    background: url("../img/img04.jpg") no-repeat left 50%;
}

#sidebar h2 {
    height: 38px;
    padding-bottom: 30px;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: justify;
}

/* Footer */

#footer {
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 15px;
    font-family: 'Abel', sans-serif;
}

#footer p {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}
