body {
    margin: 0;
    padding: 0;
    background: #050505 url("../img/img05.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5b5b5b;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul {
    margin-top: 0;
    /*line-height: 180%;*/
}

a {
    color: #5e5e5e;
}

/* Header and banner */

#header {
    max-width: 1200px;
    width: 80%;
    /*height: 150px;*/
    margin: auto;
}


#banner {
    max-width: 1200px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background: url("../img/img03.png") no-repeat left bottom;
}

#banner img {
    width: 100%;
    height: auto;
}

/* Logo */

#logo {
    /*float: left;*/
    width: 25%;
}

#logo h1 {
    /*line-height: 120px;*/
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo a {
    text-decoration: none;
    color: #000000;
}

/* Menu */

nav {
    /*float: right;*/
    width: 45%;
    /*height: 90px;*/
}

nav ul {
    /*float: right;*/
    padding-top: 20px;
    list-style: none;
}

nav li {
    /*float: left;*/
}

nav a {
    display: block;
    /*line-height: 100px;*/
    margin-right: 1px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

nav a:hover,
nav .current_page_item a {
    background: url("../img/img01.jpg") repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Page */

main {
    max-width: 1200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Content */

section {
    /*float: right;*/
    width: 62%;
    margin-bottom: 30px;
}

article {
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
}

article .title {
    padding-top: 7px;
    letter-spacing: -1px;
}

article .title a {
    text-decoration: none;
    color: #222222;
}

article .meta {
    margin-bottom: 50px;
    padding-top: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

article .meta time {
    /*float: left;*/
}

article .meta .posted {
    /*float: right;*/
}

article .entry {
    padding-bottom: 40px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more {
    margin-right: 10px;
}

.comments,
.more {
    display: block;
    /*float: left;*/
    width: 20%;
    padding: 5px 5px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

aside {
    /*float: left;*/
    width: 25%;
    padding-top: 30px;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside li ul {
    padding-bottom: 30px;
}

aside li li {
    /*line-height: 40px;*/
    border-bottom: 1px solid #e7ebed;
}

aside li li a {
    padding-left: 20px;
    background: url("../img/img04.jpg") no-repeat left 50%;
}

aside h2 {
    /*height: 38px;*/
    padding-bottom: 30px;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

aside p {
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: justify;
}

/* Footer */

footer {
    background: #050505 url("../img/img01.jpg") repeat;
    /*height: 140px;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 15px;
    font-family: 'Abel', sans-serif;
    /*clear: both;*/
}

footer p {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}
