/* Begin mobile only styles */

@media all and (max-width: 600px) {

    article {
        border-bottom: 1px solid #222222;
    }

    article .entry {
        padding-bottom: 10px;
    }

    .links {
        margin-bottom: 30px;
    }

    footer p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .more {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .comments,
    .more {
        width: 70%;
    }
    article .meta .posted {
        float: none;
    }

    time {
        margin-right: 30px;
    }
}

/* End mobile only styles */

/* Begin desktop only styles */

@media all and (min-width: 600px) {

    header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        height: 150px;
    }

    #logo {
        float: left;
        width: 25%;
    }

    nav {
        float: right;
        height: 90px;
    }

    nav ul {
        float: right;
        padding-top: 20px;
    }

    nav li {
        float: left;
    }

    nav a {
        line-height: 100px;
        margin-right: 1px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 1em;
    }

    main a {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section {
        float: right;
        width: 62%;
        margin-bottom: 30px;
    }

    article {
        margin-bottom: 40px;
        border-bottom: 1px solid #e7ebed;
    }

    article .meta {
        margin-bottom: 50px;
        padding-top: 10px;
    }

    article .meta time {
        float: left;
    }

    article .meta .posted {
        float: right;
    }

    article .entry {
        padding-bottom: 40px;
    }

    .more {
        margin-right: 10px;
    }

    .comments,
    .more {
        float: left;
        width: 20%;
    }

    aside {
        float: left;
        width: 25%;
    }

    aside h2 {
        height: 38px;
        padding-bottom: 30px;
    }

    aside li li {
        line-height: 40px;
        border-bottom: 1px solid #e7ebed;
    }

    footer {
        height: 140px;
        clear: both;
    }
}

/* End desktop only styles */

/* Begin in-between styles */

@media all and (min-width: 600px) and (max-width: 1060px) {
    #header {
        height: 210px;
        width: 100%;
    }

    #logo {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #logo h1 {
        text-align: center;
    }

    nav {
        float: none;
    }

    nav ul {
        float: none;
        padding-top: 0;
    }
}

@media all and (min-width: 600px) and (max-width: 840px) {
    .comments,
    .more {
        float: left;
        width: 30%;
    }
}

@media all and (max-width: 730px) {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    #logo h1 {
        text-align: center;
    }

    nav a {
        font-size: 175%;
    }
}

/* Begin default styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url("../img/img05.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #5b5b5b;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

a {
    color: #5e5e5e;
}

/* Header and banner */

#header {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

#banner {
    max-width: 1000px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 40px solid transparent;
    border-image: url("../img/img03.png") 40;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#banner img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* Logo */

#logo h1 {
    letter-spacing: -2px;
    font-size: 3.8em;

}

#logo a {
    text-decoration: none;
    color: #000000;
}

/* Menu */

nav ul {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

nav a:hover,
nav .current_page_item a {
    background: url("../img/img01.jpg") repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Page */

main {
    max-width: 1200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Content */

article .title {
    padding-top: 7px;
    letter-spacing: -1px;
}

article .title a {
    text-decoration: none;
    color: #222222;
}

article .meta {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

article .entry {
    text-align: justify;
}

.links {
    padding-top: 20px;
}

.comments,
.more {
    display: block;
    padding: 5px 5px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

aside {
    padding-top: 30px;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside li ul {
    padding-bottom: 30px;
}

aside li li a {
    padding-left: 20px;
    background: url("../img/img04.jpg") no-repeat left 50%;
}

aside h2 {
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

aside p {
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: justify;
}

/* Footer */

footer {
    background: #050505 url("../img/img01.jpg") repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 15px;
    font-family: 'Abel', sans-serif;
}

footer p {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}

/* End default styles */
